html {
	margin: 0;
	padding: 0;
}

body {
	font-family: monospace;
	line-height: 1.4;
	font-weight: 100;
}

.current {
	background-color: #000531;
	color: #fff;
}

.nav-top , .nav-bottom{
	font-size: 1.2rem;
	background-color: #ccc;
}

.nav-top li , .nav-bottom li{
	display: inline-block;
}

.nav-top li a , .nav-bottom li a {
	text-decoration: none;
}