html {
	margin: 0;
	padding: 0;
}

body {
	font-family: monospace;
	line-height: 1.4;
	font-weight: 100;
}

.current {
	background-color: #000531;
	color: #fff;
}

.nav-top{
	font-size: 1.2rem;
	background-color: #ccc;
}

ul li {
	display: inline-block;
}

ul li a {
	text-decoration: none;
}